body
{
	background-color:#0c0618; 
	margin: 0px; 
	font-size: 14px;  
	height: 100%; 
	color: #FFFFFF; 
	font-family: 'Teko', sans-serif;
	
	
}


#particles-js
{
	position: fixed;
	z-index: -100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


/*/////////////////
	Line Border
/////////////////*/


.line-border {
    background-color: #dd252e!important;
    display: block;
    background-image: linear-gradient(to right, #dd252e, #6d26dd, #dd252e);
    width: 100%;
    height: 5px;
}






/*//////////////////////
   	Navigation Bar 
//////////////////////*/

/*
.logo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
*/


.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color: #ffffff;
  font-family: 'Teko', sans-serif;
  transition: 0.3s;
  z-index: 1;
  background-color: black;
  opacity: 0.9;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li:last-child {
  padding-right: 50px;
}

li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 6px 15px;
  transition: ease-in-out 0.3s;
}

a:hover {
  transition: ease-in-out 0.3s;
  color: #dc262f;
  text-decoration: none;
}

::selection {
  color: #dc262f;
  background: #ffffff;
}

.hover_link {
  color: #ffffff;
}

.hover_link:after {
  border-bottom: 3px solid #dc262f;
  content: "";
  display: block;
  margin: 0em auto 0;
  transition: width 250ms ease-in-out 0s;
  width: 0;
}

.hover_link:hover:after {
  transition: width 100ms ease-in-out 0s;
  width: 100%;
}




/* Font Size Scale */

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

@media (min-width: 320px)
{
    #topnav a
    {
        font-size: 0.8rem;
    } /*1rem = 16px*/
}

@media (min-width: 375px)
{
    #topnav a
    {
        font-size: 1rem;
    } /*1rem = 16px*/
}

/* Small devices (landscape phones, 425px and up) */
@media (min-width: 425px)
{
    #topnav a
    {
        font-size: 1.2rem;
    } /*1rem = 16px*/
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px)
{
    #topnav a
    {
        font-size: 1.3rem;
    } /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    #topnav a
    {
        font-size: 1.3rem;
    } /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    #topnav a
    {
        font-size: 1.3rem;
    } /*1rem = 16px*/
}



/*////////////////
		Bio
////////////////*/

.title
{
	color: #b71c1c;
	font-size: 35px;
}

.text-div
{
	width:100%;
	height: 100%;
	background-color: #040010;
	opacity: 0.9;
}




/*/////////////
	Footer
/////////////*/

footer
{
	position:relative; 
	width: 100%; 
	background-color: black; 
	min-height: 50vhpx; 
	margin-top: 3vh;
}


footer .footer-inner
{
	position:relative; 
	width: 100%; 
	text-align: center; 
	box-sizing: border-box; 
	padding: 40px 20px 20px 20px; 
	max-width: 1000vh; 
	margin: 0px auto;
}


footer .footer-inner a.f-logo
{
	position:relative; 
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	background:url(../images/lupo-logo-footer.png); 
	background-size: cover;
}


footer .footer-inner .social
{
	position:relative; 
	padding: 20px 0px 0 0;

}

footer .footer-inner .social a
{
	color:#999999; 
	display: inline-block; 
	text-decoration: none; 
	font-size: 22px; 
	margin: 5px;
}


footer .footer-inner .social a:hover
{
	color:#FFFFFF
}


footer .footer-inner .legal
{
	position:relative; 
	font-size: 17px; 
	color:#666666
}


footer .footer-inner .legal a
{
	color:#666666;
}